{# Convert the HTML form view (detail.twig) to display the ExampleModel object data #}

<p>ID: <span class="bold">{{ em.id }}</span></p>
<p>Created On: <span class="bold">{{ em.createdOn }}</span></p>
<p>Code: <span class="bold">{{ em.code }}</span></p>
<p>Description: <span class="bold">{{ em.description }} </span></p>
